{
  "extends": ["oclif", "oclif-typescript"],
  "rules": {
    "quotes": "off",
    "indent": "off",
    "@typescript-eslint/semi": "off",
    "@typescript-eslint/indent": "off",
    "@typescript-eslint/array-type": ["warn", { "default": "array-simple" }],
    "semi": "off",
    "object-curly-spacing": "off",
    "comma-dangle": "off",
    "unicorn/prefer-module": "off",
    "node/no-extraneous-import": [
      "error",
      {
        "allowModules": ["debug"]
      }
    ]
  }
}
